<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Apartment Management System{% endblock %}</title>
    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{%  static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/style.css' %}"/>
    <script src="{% static 'agent/js/main.js' %}"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home:index' %}">Home</a>
        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">

            </ul>
        </div>
    </div>
</nav>


<div class="col-sm-12 col-md-5">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>Welcome to --------- Apartments!</h2>

<h2>Management Office Hours</h2>
<h3>Mon-Fri  8:30 am to 5:30 pm</h3>
<h3>Sat      9:00 am to 12:00 pm</h3>
<h3>Sun      Closed</h3>

<h2>Meet Our Office Staff!</h2>

{% if office_staff %}
    <ul>
        {% for staff in office_staff %}
            <li><a href="/info/{{ staff.id }}">{{ staff.name }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <h3>There is no staff saved</h3>
{% endif %}
                </div>
            </div>
        </div>
{% block body %}

{% endblock %}
</body>
</html>
